:root{
    --mobile: 375px;
    --desktop: 1440px;
    --bg-white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --font-size: 15px;
    --font-weight-light: 100;
    --font-weight-heavy: 700;
}

body {
  font-family: "Outfit", serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight-light);
  background-color: var(--slate-300);
  margin: 0;
  padding: 0;
}

img {
    margin: 0;
}

.container {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100vh;
}


.card{
  width: 16rem;
  padding: 1rem;
  background-color: var(--bg-white);
  border-radius: 1.25rem;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}


.qr_code {
    border-radius: .5rem;
    width: 100%;
}

.content{
    padding: 0 1rem .1rem 1rem;
}

.h{
    font-size: 1.125rem;
    font-weight: var(--font-weight-heavy);
    color: var(--slate-900);
}

.l{
    font-size: .850rem;
    font-weight: var(--font-weight-light);
    color: var(--slate-500);
}

